.navbar{
    width:100vw;
    height: 7vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-content: center;
    top:0;
    left:0;
    color:#05AA0A;
    background-color: whitesmoke;
    z-index: 100;
}
.user-icon{
    font-size: 170%;
    justify-self: center;
    margin-right: 2em;
    align-self: center;
}
.navbar .App-logo{
    text-align: center;
    font-family: 'Kristi', cursive;
    font-size: 270%;
    margin-left: 30px;
}

a.shopping-cart-icon{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

